{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
{% block title %}News on the map{% endblock %}

{% block head %}
        {{mymap.js}}
        <script type="text/javascript">
            var searchRectangle = null;
            document.addEventListener('DOMContentLoaded', function(event) {
                 searchRectangle = new google.maps.Rectangle({
                    editable: true,
                    draggable: true,
                    map: null,
                    bounds: {{searchRect|tojson}}
                 });
                searchRectangle.addListener('bounds_changed', changeRect);
                document.getElementById("searchRect").value = JSON.stringify({{searchRect|tojson}});
            });
            function toggleRectangle() {
                if (document.getElementById("rectCheckbox").checked) {
                    searchRectangle.setMap({{mymap.varname}});
                } else {
                    searchRectangle.setMap(null);
                }
            }
            function changeRect(event) {
                var bounds = searchRectangle.getBounds();
                if(bounds != null) {
                    document.getElementById("searchRect").value = JSON.stringify(bounds);
                }
            }
        </script>
{% endblock %}
{% block body %}
        <div>
            <h3>News on the map</h3>
            <form action="" method="post" name="search">
                {{form.hidden_tag()}}
                Query:
                {{form.data(size=50)}}
                Date range:
                {{form.date_from}} -
                {{form.date_to}}
                <input id="rectCheckbox" name="rectCheckbox" type="checkbox" onclick="toggleRectangle()" onchange="toggleRectangle()" /> In Area
                <input id="searchRect" name="searchRect" type="hidden" />
                {{form.search}}
                {% if user %}
                    (Hello, {{user}})
                {% else %}
                <a href="./login">
                    <input type="button" value="Login via Google"/>
                </a>
                {% endif %}
            </form>
            
        </div>
        <div>
            {{mymap.html}}
        </div>
{% endblock %} 
